.login_page {
    // justify-content: center;
    height: 100vh;
    margin-top: 61px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #090E2F;
    padding: 20px 0;
}


.login_form, .signup_form {
    display: flex;
    flex-direction: column; 
    background-color: #070D34;
    padding: 35px 20px 20px 20px;
    align-items: center;
    position: relative;
    // font-family: 'Nunito', sans-serif;
    // border-radius: 50px;
}

.login_form input, .signup_form input{
    // width: 300px;
    padding: 14px;
    width: 360px;

    font-family: inherit;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
    
}

.login_form p, .signup_form p{
    font-size: 34px;
    margin-bottom: 30px;
    font-family: inherit;
    font-weight: 700;
    color: white;
}

.login_form button, .signup_form button {
    background-color: #FF6600;
    color: white;
    text-transform: uppercase;
    font-family: inherit;
    padding: 11px 40px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.tabs a {
    color: white;
    padding: 10px 30px;
    background-color: transparent;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    cursor: pointer;
    border: none;
    position: relative;
    display: block;
}

.tabs :not(:last-child) {
    margin-right: 100px;
}

.tabs {
    margin-bottom: 20vh;
    display: flex;
    // position: absolute;
    
}

.signup_form .icon-wrapper, .login_form .icon-wrapper{
    position: absolute;
    top: -25px;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup_form .icon, .login_form .icon {
    height: 30px;
    width: 30px;
}


a.active::after {
    position: absolute;
    width: 100%;
    display: block;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 4px;
    content: '';
    background-color: #FF6600;
}