.searchform_catalog {
    margin-bottom: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: 'Nunito', sans-serif;
    position: relative;
}

.searchform_catalog input, .searchform_header input{
    font-family: inherit;
    font-size: 20px;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    margin-right: 5px;
    border: none;
    padding-left: 10px;
    box-sizing: border-box;
    padding-right: 110px;
}

.searchform_catalog input {
    height: 40px;
    margin-bottom: 10px;
}

.searchform_header input{
    margin-bottom: 20px;
}

.searchform_catalog label{
    color: white;
    margin-bottom: 5px;
}

.searchform_catalog > div{
    display: flex;
    justify-content: space-around;
}

.searchform_catalog > div div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchform_catalog select {
    width: auto;
    height: 30px;
    border-radius: 15px;
    font-family: inherit;
    color: darkblue;
    font-weight: 700;
    overflow: hidden;
}

.searchform_catalog button{
    height: 36px;
    top: 2px;
    position: absolute;
    right: 3px;
    border-radius: 30px;
    border-color: transparent;
    background-color: orange;
    font-family: inherit;
    font-size: 20px;
    color: darkblue;
    font-weight: 900;
    cursor: pointer;
}


.searchform_header{
    height: 100%;
    width: 250px;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    position: relative;
}

.searchform_header div{
    display: none;
}
.searchform_header button{
    height: 90%; 
    position: absolute; /**/
    right: 1px; /**/
    border-radius: 30px;/**/
    border-color: transparent;/**/
    background-color: orange;/**/
    font-family: inherit;/**/
    font-size: 10px;/**/
    color: darkblue;/**/
    font-weight: 900;
    top: 50%;/**/
    cursor: pointer;/**/
    transform: translateY(-50%);
}

.searchform_catalog ul{
    display: none;

}

.searchform_header ul {
    position: absolute;
    background-color: white;
    width: auto;
    list-style: none;
    overflow-y: scroll;
    max-height: 30vh;
    padding: 10px;
    border-radius: 20px;
}


.searchform_header ul li img {
    width: 90px;
    height: auto;
    margin-right: 10px;
}

.searchform_header ul li{
    display: flex;
    align-items: center;
    font-weight: 900;
    
}

.searchform_header ul :not(:last-child) {
    margin-bottom: 5px;
}

.searchform_header a{
    color: darkblue;
}

