.section {
    padding: 20px;
    margin-top: 61px;
    height: calc(100vh - 61px);
    background-size: cover;
    background-position: top;
    backdrop-filter: brightness(30%);
    overflow-y: scroll
}

.section :first-child {
    display: flex;
    align-items: center;
}
.title, .year{
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    font-size: 50px;
}

.title{
    margin-right: 20px;
}


.description {
    color: white;
    background-color: rgba(59, 57, 57, 0.357);
    width: 50vw;
    font-size: 20px;
    padding: 10px 20px;
    line-height: 35px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.screenshot{
    height: 400px;
    width: auto;
}

.slide {
    width: auto !important;
}

.toggle_button{
    color: black;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    padding: 8px 16px;
    border-radius: 10px;
    border-color: transparent;
}

.slider {

    margin-bottom: -20px;
    max-height: 100vh;
}
.empty_store {
    display: none;
}

.stores_list{
    list-style: none;
    display: flex;
    margin-bottom: 20px;
}

.stores_list :not(:last-child) {
    margin-right: 20px;
}

.stores_list svg {
    width: 30px;
    height: 30px;
}