.description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.genres {
    display: flex;
    gap: 5px;
    color: #f0f0f0;
    font-size: 15;
    letter-spacing: 0.05em;
    list-style: none
}

.gamecard_catalog{
    height: 500px;
    color: white;
    background-color: #050B2B;
    overflow: hidden;
    position: relative;
    max-width: 500px;
    border-radius: 20px;
}
.gamecard_catalog .poster{
    object-fit: cover;
    height: 70%;
    transition: 500ms all ease;
    width: 100%;
}

.gamecard_slider{
    background-color: #050B2B;
    height: 350px;
    overflow: hidden;
    position: relative;
    max-width: 500px;
    border-radius: 20px;
}

.gamecard_slider a {
    padding: 10px 20px;
    white-space: nowrap;
    background-color: rgba(5, 11, 43, 0.80);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transition: 500ms bottom ease;
    transform: translateX(-50%);
    color: white;
    display: flex;
    align-items: center;
    gap: 5;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10
}

.gamecard_slider:hover a{
    bottom: 50%
}

.gamecard_slider .poster{
    object-fit: cover;
    transition: 500ms all ease;
    width: 100%;
    height: 100%;
}

.gamecard_slider:hover .poster {
    height: 100%;
    opacity: 50%;
}

.gamecard_catalog .rating{
    position: absolute;
        top: 0;
        left: 16px;
        color: white;
        background-color: rgb(5, 11, 43);
        padding: 10px 10px 5px 10px;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        align-items: center;
        transition: 400ms top ease;
}

.gamecard_catalog:hover .rating {
    top: -100%
}

.gamecard_catalog:hover .poster {
    height: 100%;
        opacity: 50%;
} 

.title {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0.05em;
    white-space: normal;
    word-break: break-word;
}

.gamecard_catalog:hover a {
    bottom: 50%
}

.gamecard_catalog a {
    padding: 10px 20px;
    white-space: nowrap;
    background-color: rgba(5, 11, 43, 0.80);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transition: 500ms bottom ease;
    transform: translateX(-50%);
    color: white;
    display: flex;
    align-items: center;
    gap: 5;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10
}

.genres li:not(:last-child){
    border-right: 1px solid orange;
}

.genres li{
    padding: 0 5px 0 0;
}